In [225]:
import pandas as pd

In [226]:
df=pd.read_csv("E:\data\siva.csv")

In [227]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [228]:
df.columns=[s.lower() for s in df.columns]

In [229]:
df.columns=df.columns.str.replace(" ","")

In [230]:
df.head()

,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit,date,monthnumber,monthname,year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [231]:
#df.set_index("date",inplace=True)

In [232]:
#df.discountband=df.discountband.astype("category")

In [233]:
df.discountband.dtype

dtype('O')

In [234]:
import numpy as np
df["discountband"]=df.discountband.replace({" None ":np.nan})
df.discountband.value_counts(normalize=True)

 High       0.378671
 Medium     0.374034
 Low        0.247295
Name: discountband, dtype: float64

In [235]:
df.shape

(700, 16)

In [236]:
df.head()

,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit,date,monthnumber,monthname,year
0,Government,Canada,Carretera,NaN,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [237]:
#df["date"]=pd.to_datetime(df["date"],format="%d/%m/%y")
#df["date"].value_counts()
t=list(df.columns)

In [238]:
print(t)

['segment', 'country', 'product', 'discountband', 'unitssold', 'manufacturingprice', 'saleprice', 'grosssales', 'discounts', 'sales', 'cogs', 'profit', 'date', 'monthnumber', 'monthname', 'year']

In [239]:
df=df[[t[12]]+t[:12]+t[13:]]

In [240]:
try:df["date"]=pd.to_datetime(df["date"],format="%d/%m/%y",errors='raise')
except Exception as p:
    
    print(p)

unconverted data remains: 14

In [241]:
#df.dropna()
df["date"]=pd.to_datetime(df["date"],format="%M/%d/%Y")

In [242]:
df.loc[0,"date"].day_name()

'Wednesday'

In [243]:
df.date

0     2014-01-01 00:01:00
1     2014-01-01 00:01:00
2     2014-01-06 00:01:00
3     2014-01-06 00:01:00
4     2014-01-06 00:01:00
              ...
695   2014-01-03 00:01:00
696   2014-01-10 00:01:00
697   2014-01-02 00:01:00
698   2014-01-04 00:01:00
699   2014-01-05 00:01:00
Name: date, Length: 700, dtype: datetime64[ns]

In [244]:
df["day"]=df.date.dt.day_name()

In [245]:
df.head()

,date,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit,monthnumber,monthname,year,day
0,2014-01-01 00:01:00,Government,Canada,Carretera,NaN,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1,January,2014,Wednesday
1,2014-01-01 00:01:00,Government,Germany,Carretera,NaN,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1,January,2014,Wednesday
2,2014-01-06 00:01:00,Midmarket,France,Carretera,NaN,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6,June,2014,Monday
3,2014-01-06 00:01:00,Midmarket,Germany,Carretera,NaN,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6,June,2014,Monday
4,2014-01-06 00:01:00,Midmarket,Mexico,Carretera,NaN,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6,June,2014,Monday

In [246]:
df.dropna(inplace=True)

In [248]:
#df.set_index("date",inplace=True)
#df.drop(["monthnumber","monthname","year"])
df.head()
df.reset_index(inplace=True
)
#df.drop("index")

In [249]:
df.date.max()

Timestamp('2014-01-12 00:01:00')

In [255]:
df.drop(["index",'level_0',"monthnumber","monthname","year","day"],axis="columns",inplace=True)

In [257]:
df["date"].max()-df["date"].min()

Timedelta('368 days 00:00:00')

In [264]:
df.sort_values(by="date",ignore_index=True,inplace=True)

In [269]:
df.columns

Index(['date', 'segment', 'country', 'product', 'discountband', 'unitssold',
       'manufacturingprice', 'saleprice', 'grosssales', 'discounts', 'sales',
       'cogs', 'profit'],
      dtype='object')

In [271]:
df.country.value_counts()

Mexico                      132
United States of America    132
France                      131
Canada                      128
Germany                     124
Name: country, dtype: int64

In [277]:
df.product

<bound method DataFrame.prod of                    date         segment                   country  \
0   2013-01-09 00:01:00  Small Business                    France
1   2013-01-09 00:01:00      Government                    Canada
2   2013-01-09 00:01:00      Government  United States of America
3   2013-01-09 00:01:00       Midmarket  United States of America
4   2013-01-09 00:01:00  Small Business                    Canada
..                  ...             ...                       ...
642 2014-01-12 00:01:00      Government  United States of America
643 2014-01-12 00:01:00      Government                    Mexico
644 2014-01-12 00:01:00      Government                   Germany
645 2014-01-12 00:01:00      Government                    Canada
646 2014-01-12 00:01:00      Enterprise  United States of America

         product discountband  unitssold manufacturingprice  saleprice  \
0       Montana       Medium       322.0             $5.00    $300.00
1          Velo          Low      2646.0           $120.00     $20.00
2           VTT          Low       349.0           $250.00    $350.00
3         Paseo       Medium      2931.0            $10.00     $15.00
4       Montana       Medium      1283.0             $5.00    $300.00
..           ...          ...        ...                ...        ...
642   Carretera       Medium       570.0             $3.00      $7.00
643       Paseo         High      1233.0            $10.00     $20.00
644         VTT         High       280.0           $250.00      $7.00
645       Paseo          Low      2852.0            $10.00    $350.00
646     Montana       Medium      2797.0             $5.00    $125.00

         grosssales     discounts           sales            cogs  \
0       $96,600.00     $8,694.00      $87,906.00      $80,500.00
1       $52,920.00     $2,116.80      $50,803.20      $26,460.00
2     $1,22,150.00     $4,886.00    $1,17,264.00      $90,740.00
3       $43,965.00     $3,077.55      $40,887.45      $29,310.00
4     $3,84,900.00    $30,792.00    $3,54,108.00    $3,20,750.00
..              ...           ...             ...             ...
642      $3,990.00       $199.50       $3,790.50       $2,850.00
643     $24,660.00     $2,959.20      $21,700.80      $12,330.00
644      $1,960.00       $274.40       $1,685.60       $1,400.00
645   $9,98,200.00    $19,964.00    $9,78,236.00    $7,41,520.00
646   $3,49,625.00    $31,466.25    $3,18,158.75    $3,35,640.00

             profit
0        $7,406.00
1       $24,343.20
2       $26,524.00
3       $11,577.45
4       $33,358.00
..              ...
642        $940.50
643      $9,370.80
644        $285.60
645   $2,36,716.00
646    $(17,481.25)

[647 rows x 13 columns]>

In [279]:
df.discountband.value_counts()

 High       245
 Medium     242
 Low        160
Name: discountband, dtype: int64

In [281]:
df.to_csv("E:\\data\\giri.csv")

In [284]:
d=t[5:]

In [289]:
t=list(df.columns)

In [290]:
t

['date',
 'segment',
 'country',
 'product',
 'discountband',
 'unitssold',
 'manufacturingprice',
 'saleprice',
 'grosssales',
 'discounts',
 'sales',
 'cogs',
 'profit']

AttributeError: 'DataFrame' object has no attribute 'i'