In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from matplotlib import pyplot as plt

In [3]:
#df=pd.read_csv("E://my_pro_ds/hoseprice/after.csv")

In [4]:
#df.head()

In [5]:
data=pd.read_csv("E://my_pro_ds/hoseprice/Bengaluru_House_Data.csv")

In [6]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
data.dropna(inplace=True)

In [8]:
data.drop(["area_type","availability","society"],axis=1,inplace=True)

In [9]:
data.isnull().mean()

location      0.0
size          0.0
total_sqft    0.0
bath          0.0
balcony       0.0
price         0.0
dtype: float64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7496 entries, 0 to 13318
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7496 non-null   object
 1   size        7496 non-null   object
 2   total_sqft  7496 non-null   object
 3   bath        7496 non-null   float64
 4   balcony     7496 non-null   float64
 5   price       7496 non-null   float64
dtypes: float64(3), object(3)
memory usage: 409.9+ KB

In [11]:
data.rename(columns={"size":"h_size"},inplace=True)

In [12]:
data.h_size.unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 RK', '4 BHK',
       '1 BHK', '5 BHK', '11 BHK', '5 Bedroom', '9 BHK', '2 Bedroom',
       '6 BHK', '7 BHK', '6 Bedroom'], dtype=object)

In [15]:

#def cnnum(data,col):
 #   h=[]
  #  for i in data[col]:
   #     h.append(int(i[0]))
    #new=pd.DataFrame(h,columns=["h_size11"])
    #return new
#another technique
df["h_size91"]=data["h_size"].apply(lambda s=s.split(" ")[0])

SyntaxError: invalid syntax (<ipython-input-15-0fa095daeb8d>, line 8)

In [14]:
t

NameError: name 't' is not defined

In [ ]:
data.shape

In [ ]:
df=data.join(t)

In [ ]:
df.columns

In [ ]:
df.drop(["h_size"],axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.isnull().sum()