In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv("E:\data\hari.csv")

E:\anakonda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Unnamed: 0,warehouse,ordercreateddate,ordercreatedtime,orderno,customer_wh,customer_whname,shiptocity,shiptostate,shiptopincode,...,invoicedate,invoicetime,rrdate,dispatchdate_3pl_,lspname,awbno,awbdate,waybillno,esugamno,estdeliverydate
0,0,BLRB012A,44018,0.589514,SO_001457910,10180,Buhler (India) Pvt. Ltd,Bangalore,KA,562107.0,...,44019.0,0.670162,44034.0,44020.0,INNOVATIVE,3203300,44020.0,Not Req,Not Req,44018.0
1,1,BLRB012A,44020,0.695162,SO_001464869,10490,Parkash Sons,Chandigarh,CH,160017.0,...,44021.0,0.789595,44028.0,44022.0,GATI,397647403,44022.0,NOTREQD,121231699109,44020.0
2,2,BLRB013D,44019,0.699306,SO_001461049,10555,RANVIR STUDIO,Simla,HP,171001.0,...,44022.0,0.642975,44028.0,44023.0,AR Enter,10532648,44023.0,NOTREQD,NOTREQD,44019.0
3,3,BLRB012A,44019,0.706250,SO_001461050,10555,RANVIR STUDIO,Simla,HP,171001.0,...,44021.0,0.629954,44030.0,44021.0,GATI,397647359,44021.0,NOTREQD,151231561063,44019.0
4,4,BLRB012A,44019,0.708067,SO_001461051,10555,RANVIR STUDIO,Simla,HP,171001.0,...,44021.0,0.539236,44030.0,44021.0,GATI,397647298,44021.0,NOTREQD,181231504393,44019.0

In [4]:
df.drop(["Unnamed: 0"],axis="columns",inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20048 entries, 0 to 20047
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   warehouse                 20048 non-null  object
 1   ordercreateddate          20048 non-null  int64
 2   ordercreatedtime          20048 non-null  float64
 3   orderno                   20048 non-null  object
 4   customer_wh               20048 non-null  int64
 5   customer_whname           20048 non-null  object
 6   shiptocity                20046 non-null  object
 7   shiptostate               20046 non-null  object
 8   shiptopincode             20047 non-null  float64
 9   externaldoc_customerpono  20045 non-null  object
 10  consignmentid             19940 non-null  object
 11  orderqty                  20047 non-null  float64
 12  ordervalue                20047 non-null  float64
 13  picklistno                19449 non-null  object
 14  picklistgenerateddate     19449 non-null  float64
 15  picklistgeneratedtime     20047 non-null  float64
 16  picklistgeneratedqty      20047 non-null  float64
 17  picklistreleaseddate      19449 non-null  float64
 18  picklistreleasedtime      20047 non-null  float64
 19  pendingtobegeneratedqty   20047 non-null  float64
 20  orderplreleasedqty        20047 non-null  float64
 21  plreleasediorderqty       20047 non-null  float64
 22  plregisteredqty           20047 non-null  float64
 23  invoice_ptsqty            20047 non-null  float64
 24  iorderinvoiceqty          20047 non-null  float64
 25  loadsaveinvoiceqty        20047 non-null  float64
 26  invoice_ptsno             19465 non-null  object
 27  invoicevalue              20047 non-null  float64
 28  invoicedate               19465 non-null  float64
 29  invoicetime               20047 non-null  float64
 30  rrdate                    19454 non-null  float64
 31  dispatchdate_3pl_         18861 non-null  float64
 32  lspname                   18861 non-null  object
 33  awbno                     18860 non-null  object
 34  awbdate                   18861 non-null  float64
 35  waybillno                 18833 non-null  object
 36  esugamno                  18838 non-null  object
 37  estdeliverydate           20047 non-null  float64
dtypes: float64(23), int64(2), object(13)
memory usage: 5.8+ MB

In [6]:
df.drop(["esugamno"],axis="columns",inplace=True)

In [7]:
df.drop(["lspname","iorderinvoiceqty"],axis="columns",inplace=True)

In [8]:
df.head()

,warehouse,ordercreateddate,ordercreatedtime,orderno,customer_wh,customer_whname,shiptocity,shiptostate,shiptopincode,externaldoc_customerpono,...,invoice_ptsno,invoicevalue,invoicedate,invoicetime,rrdate,dispatchdate_3pl_,awbno,awbdate,waybillno,estdeliverydate
0,BLRB012A,44018,0.589514,SO_001457910,10180,Buhler (India) Pvt. Ltd,Bangalore,KA,562107.0,49506446,...,SIBLRB1220025863,50000.0,44019.0,0.670162,44034.0,44020.0,3203300,44020.0,Not Req,44018.0
1,BLRB012A,44020,0.695162,SO_001464869,10490,Parkash Sons,Chandigarh,CH,160017.0,10490-20-07-01,...,SIBLRB1220029748,79351.0,44021.0,0.789595,44028.0,44022.0,397647403,44022.0,NOTREQD,44020.0
2,BLRB013D,44019,0.699306,SO_001461049,10555,RANVIR STUDIO,Simla,HP,171001.0,10555-20-07-01,...,SIBLRB1320000029,2240.0,44022.0,0.642975,44028.0,44023.0,10532648,44023.0,NOTREQD,44019.0
3,BLRB012A,44019,0.706250,SO_001461050,10555,RANVIR STUDIO,Simla,HP,171001.0,10555-20-07-01,...,SIBLRB1220029197,200931.0,44021.0,0.629954,44030.0,44021.0,397647359,44021.0,NOTREQD,44019.0
4,BLRB012A,44019,0.708067,SO_001461051,10555,RANVIR STUDIO,Simla,HP,171001.0,10555-20-07-02,...,SIBLRB1220029043,103447.0,44021.0,0.539236,44030.0,44021.0,397647298,44021.0,NOTREQD,44019.0

In [10]:
#df.warehouse.value_counts(normalize=True)
#sns.distplot(df.ordercreatedtime.value_counts())
df.drop(["orderno"],axis="columns",inplace=True)

In [12]:
#df.customer_wh.value_counts()
df.

NameError: name 'dfdf' is not defined