In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("E:\data\siva.csv")

In [7]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Month Number,Month Name,Year
Date,,,,,,,,,,,,,,,
01/01/2014,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1,January,2014
01/01/2014,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1,January,2014
01/06/2014,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6,June,2014
01/06/2014,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6,June,2014
01/06/2014,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6,June,2014

In [5]:
df.set_index("Date",inplace=True)

In [12]:
df.columns=[x.lower() for x in df.columns]

In [15]:
df.columns=df.columns.str.replace(" ","")

<class 'pandas.core.frame.DataFrame'>
Index: 700 entries, 01/01/2014 to 01/05/2014
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   segment             700 non-null    object
 1   country             700 non-null    object
 2   product             700 non-null    object
 3   discountband        700 non-null    object
 4   unitssold           700 non-null    float64
 5   manufacturingprice  700 non-null    object
 6   saleprice           700 non-null    object
 7   grosssales          700 non-null    object
 8   discounts           700 non-null    object
 9   sales               700 non-null    object
 10  cogs                700 non-null    object
 11  profit              700 non-null    object
 12  monthnumber         700 non-null    int64
 13  monthname           700 non-null    object
 14  year                700 non-null    int64
dtypes: float64(1), int64(2), object(12)
memory usage: 87.5+ KB

In [21]:
df.columns

Index(['segment', 'country', 'product', 'discountband', 'unitssold',
       'manufacturingprice', 'saleprice', 'grosssales', 'discounts', 'sales',
       'cogs', 'profit', 'monthnumber', 'monthname', 'year'],
      dtype='object')

In [26]:
df.index

Index(['01/01/2014', '01/01/2014', '01/06/2014', '01/06/2014', '01/06/2014',
       '01/12/2014', '01/03/2014', '01/06/2014', '01/06/2014', '01/06/2014',
       ...
       '01/10/2013', '01/10/2014', '01/11/2013', '01/11/2014', '01/12/2014',
       '01/03/2014', '01/10/2014', '01/02/2014', '01/04/2014', '01/05/2014'],
      dtype='object', name='Date', length=700)