In [139]:

import pandas as pd
import numpy as np

In [140]:
df=pd.read_csv("E:\\data\\hari.csv")

E:\anakonda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10,61) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [141]:
df.head()

,site,warehouse,type,ordermonth,ordercreatedby,ordercreateddate,ordercreatedtime,orderno,customer/wh,customer/whname,...,pbdapplicable,waybillrequired,waybillno,appointmentrequired,esugamno,podstatus,qtytobereceived,esttransittime,estdeliverydate,statuswc
0,BLRB012,BLRB012A,Sales,7,W017053,44018,0.589514,SO_001457910,10180,Buhler (India) Pvt. Ltd,...,No,No,Not Req,No,Not Req,Yes,0.0,0.0,44018.0,None of the Above
1,BLRB012,BLRB012A,Sales,7,W008075,44020,0.695162,SO_001464869,10490,Parkash Sons,...,No,No,NOTREQD,No,121231699109,Yes,0.0,0.0,44020.0,None of the Above
2,BLRB013,BLRB013D,Sales,7,W008075,44019,0.699306,SO_001461049,10555,RANVIR STUDIO,...,No,No,NOTREQD,No,NOTREQD,Yes,0.0,0.0,44019.0,Pending For PL Release / Generation
3,BLRB012,BLRB012A,Sales,7,W008075,44019,0.706250,SO_001461050,10555,RANVIR STUDIO,...,No,No,NOTREQD,No,151231561063,Yes,0.0,0.0,44019.0,None of the Above
4,BLRB012,BLRB012A,Sales,7,W008075,44019,0.708067,SO_001461051,10555,RANVIR STUDIO,...,No,No,NOTREQD,No,181231504393,Yes,0.0,0.0,44019.0,None of the Above

In [142]:
df.columns

Index(['site', 'warehouse', 'type', 'ordermonth', 'ordercreatedby',
       'ordercreateddate', 'ordercreatedtime', 'orderno', 'customer/wh',
       'customer/whname', 'zone', 'branch', 'shiptocity', 'shiptostate',
       'shiptopincode', 'customerblockstatus', 'actual/virtual', 'channel',
       'customergroup', 'externaldoc/customerpono', 'consignmentid',
       'orderstatus', 'orderqty', 'ordervalue', 'picklistno',
       'picklistgenerateddate', 'picklistgeneratedtime', 'pltype', 'plstatus',
       'plhandellingstatus', 'status', 'picklistgeneratedqty',
       'picklistreleaseddate', 'picklistreleasedtime',
       'pendingtobereleasedqty', 'pendingtobegeneratedqty',
       'orderplreleasedqty', 'iorderqty', 'plreleasediorderqty',
       'shippedqty(3pl)', 'loadsaveqty', 'plregisteredqty', 'invoice/ptsqty',
       'iorderinvoiceqty', 'loadsaveinvoiceqty', 'registeredqtyinvoiceqty',
       'ptrqty', 'whfillrate', 'bisnessfillrate', 'invoice/ptsno',
       'invoicemonth', 'invoicevalue', 'invoicedate', 'invoicetime', 'rrdate',
       'rrbasis', 'cartons', 'dispatchdate(3pl)', 'deliverydate',
       'poshareddate', 'lspname', 'awbno', 'awbdate', 'piaapplicable',
       'piareceived', 'piamodifiedtime', 'pbdapplicable', 'waybillrequired',
       'waybillno', 'appointmentrequired', 'esugamno', 'podstatus',
       'qtytobereceived', 'esttransittime', 'estdeliverydate', 'statuswc'],
      dtype='object')

In [143]:
import seaborn as sns
df.columns=df.columns.str.replace("\/|\(|\)","_")
#df.branch.value_counts(normalize=True)
#sns.distplot(df.estdeliverydate.value_counts(),bins=5)

d=["site","type","ordermonth","ordercreatedby","branch","customerblockstatus","actual_virtual","channel","customergroup","orderstatus","pltype","plstatus","plhandellingstatus","status","pendingtobereleasedqty","iorderqty","shippedqty_3pl_","loadsaveqty","registeredqtyinvoiceqty","ptrqty","whfillrate","bisnessfillrate","invoicemonth","rrbasis","cartons","poshareddate","piaapplicable","piareceived","piamodifiedtime","pbdapplicable","waybillrequired","appointmentrequired","podstatus","qtytobereceived","esttransittime","statuswc"]
df.drop(d,axis=1,inplace=True)
#df.info()
#df.head()

In [144]:
#df.drop(["poshareddate"],axis="columns",inplace=True)
#df.drop(["zone"],axis="columns",inplace=True)

In [145]:
#df.zone.value_counts()

In [146]:
df.head()

,warehouse,ordercreateddate,ordercreatedtime,orderno,customer_wh,customer_whname,zone,shiptocity,shiptostate,shiptopincode,...,invoicetime,rrdate,dispatchdate_3pl_,deliverydate,lspname,awbno,awbdate,waybillno,esugamno,estdeliverydate
0,BLRB012A,44018,0.589514,SO_001457910,10180,Buhler (India) Pvt. Ltd,South,Bangalore,KA,562107.0,...,0.670162,44034.0,44020.0,44034.0,INNOVATIVE,3203300,44020.0,Not Req,Not Req,44018.0
1,BLRB012A,44020,0.695162,SO_001464869,10490,Parkash Sons,North,Chandigarh,CH,160017.0,...,0.789595,44028.0,44022.0,44028.0,GATI,397647403,44022.0,NOTREQD,121231699109,44020.0
2,BLRB013D,44019,0.699306,SO_001461049,10555,RANVIR STUDIO,North,Simla,HP,171001.0,...,0.642975,44028.0,44023.0,44028.0,AR Enter,10532648,44023.0,NOTREQD,NOTREQD,44019.0
3,BLRB012A,44019,0.706250,SO_001461050,10555,RANVIR STUDIO,North,Simla,HP,171001.0,...,0.629954,44030.0,44021.0,44030.0,GATI,397647359,44021.0,NOTREQD,151231561063,44019.0
4,BLRB012A,44019,0.708067,SO_001461051,10555,RANVIR STUDIO,North,Simla,HP,171001.0,...,0.539236,44030.0,44021.0,44030.0,GATI,397647298,44021.0,NOTREQD,181231504393,44019.0

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20048 entries, 0 to 20047
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   warehouse                 20048 non-null  object
 1   ordercreateddate          20048 non-null  int64
 2   ordercreatedtime          20048 non-null  float64
 3   orderno                   20048 non-null  object
 4   customer_wh               20048 non-null  int64
 5   customer_whname           20048 non-null  object
 6   zone                      73 non-null     object
 7   shiptocity                20046 non-null  object
 8   shiptostate               20046 non-null  object
 9   shiptopincode             20047 non-null  float64
 10  externaldoc_customerpono  20045 non-null  object
 11  consignmentid             19940 non-null  object
 12  orderqty                  20047 non-null  float64
 13  ordervalue                20047 non-null  float64
 14  picklistno                19449 non-null  object
 15  picklistgenerateddate     19449 non-null  float64
 16  picklistgeneratedtime     20047 non-null  float64
 17  picklistgeneratedqty      20047 non-null  float64
 18  picklistreleaseddate      19449 non-null  float64
 19  picklistreleasedtime      20047 non-null  float64
 20  pendingtobegeneratedqty   20047 non-null  float64
 21  orderplreleasedqty        20047 non-null  float64
 22  plreleasediorderqty       20047 non-null  float64
 23  plregisteredqty           20047 non-null  float64
 24  invoice_ptsqty            20047 non-null  float64
 25  iorderinvoiceqty          20047 non-null  float64
 26  loadsaveinvoiceqty        20047 non-null  float64
 27  invoice_ptsno             19465 non-null  object
 28  invoicevalue              20047 non-null  float64
 29  invoicedate               19465 non-null  float64
 30  invoicetime               20047 non-null  float64
 31  rrdate                    19454 non-null  float64
 32  dispatchdate_3pl_         18861 non-null  float64
 33  deliverydate              83 non-null     float64
 34  lspname                   18861 non-null  object
 35  awbno                     18860 non-null  object
 36  awbdate                   18861 non-null  float64
 37  waybillno                 18833 non-null  object
 38  esugamno                  18838 non-null  object
 39  estdeliverydate           20047 non-null  float64
dtypes: float64(24), int64(2), object(14)
memory usage: 6.1+ MB

In [148]:
df.drop(["zone","deliverydate"],axis="columns",inplace=True)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20048 entries, 0 to 20047
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   warehouse                 20048 non-null  object
 1   ordercreateddate          20048 non-null  int64
 2   ordercreatedtime          20048 non-null  float64
 3   orderno                   20048 non-null  object
 4   customer_wh               20048 non-null  int64
 5   customer_whname           20048 non-null  object
 6   shiptocity                20046 non-null  object
 7   shiptostate               20046 non-null  object
 8   shiptopincode             20047 non-null  float64
 9   externaldoc_customerpono  20045 non-null  object
 10  consignmentid             19940 non-null  object
 11  orderqty                  20047 non-null  float64
 12  ordervalue                20047 non-null  float64
 13  picklistno                19449 non-null  object
 14  picklistgenerateddate     19449 non-null  float64
 15  picklistgeneratedtime     20047 non-null  float64
 16  picklistgeneratedqty      20047 non-null  float64
 17  picklistreleaseddate      19449 non-null  float64
 18  picklistreleasedtime      20047 non-null  float64
 19  pendingtobegeneratedqty   20047 non-null  float64
 20  orderplreleasedqty        20047 non-null  float64
 21  plreleasediorderqty       20047 non-null  float64
 22  plregisteredqty           20047 non-null  float64
 23  invoice_ptsqty            20047 non-null  float64
 24  iorderinvoiceqty          20047 non-null  float64
 25  loadsaveinvoiceqty        20047 non-null  float64
 26  invoice_ptsno             19465 non-null  object
 27  invoicevalue              20047 non-null  float64
 28  invoicedate               19465 non-null  float64
 29  invoicetime               20047 non-null  float64
 30  rrdate                    19454 non-null  float64
 31  dispatchdate_3pl_         18861 non-null  float64
 32  lspname                   18861 non-null  object
 33  awbno                     18860 non-null  object
 34  awbdate                   18861 non-null  float64
 35  waybillno                 18833 non-null  object
 36  esugamno                  18838 non-null  object
 37  estdeliverydate           20047 non-null  float64
dtypes: float64(23), int64(2), object(13)
memory usage: 5.8+ MB

In [150]:
df.head()

,warehouse,ordercreateddate,ordercreatedtime,orderno,customer_wh,customer_whname,shiptocity,shiptostate,shiptopincode,externaldoc_customerpono,...,invoicedate,invoicetime,rrdate,dispatchdate_3pl_,lspname,awbno,awbdate,waybillno,esugamno,estdeliverydate
0,BLRB012A,44018,0.589514,SO_001457910,10180,Buhler (India) Pvt. Ltd,Bangalore,KA,562107.0,49506446,...,44019.0,0.670162,44034.0,44020.0,INNOVATIVE,3203300,44020.0,Not Req,Not Req,44018.0
1,BLRB012A,44020,0.695162,SO_001464869,10490,Parkash Sons,Chandigarh,CH,160017.0,10490-20-07-01,...,44021.0,0.789595,44028.0,44022.0,GATI,397647403,44022.0,NOTREQD,121231699109,44020.0
2,BLRB013D,44019,0.699306,SO_001461049,10555,RANVIR STUDIO,Simla,HP,171001.0,10555-20-07-01,...,44022.0,0.642975,44028.0,44023.0,AR Enter,10532648,44023.0,NOTREQD,NOTREQD,44019.0
3,BLRB012A,44019,0.706250,SO_001461050,10555,RANVIR STUDIO,Simla,HP,171001.0,10555-20-07-01,...,44021.0,0.629954,44030.0,44021.0,GATI,397647359,44021.0,NOTREQD,151231561063,44019.0
4,BLRB012A,44019,0.708067,SO_001461051,10555,RANVIR STUDIO,Simla,HP,171001.0,10555-20-07-02,...,44021.0,0.539236,44030.0,44021.0,GATI,397647298,44021.0,NOTREQD,181231504393,44019.0

In [152]:
df.waybillno.value_counts(normalize=True)

NOT REQ    0.870015
NOTREQD    0.129082
Not Req    0.000903
Name: waybillno, dtype: float64

In [153]:
df.to_csv("E:\\data\\hari.csv")