In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt

In [16]:
df=pd.read_csv("E:\data\giri.csv")

In [17]:
df.head()

,Unnamed: 0,date,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit
0,0,2013-01-01 00:09:00,Small Business,France,Montana,Medium,322.0,5.0,300.0,96600.0,8694.00,87906.00,80500.0,5.0
1,1,2013-01-01 00:09:00,Government,Canada,Velo,Low,2646.0,120.0,20.0,52920.0,2116.80,50803.20,26460.0,120.0
2,2,2013-01-01 00:09:00,Government,United States of America,VTT,Low,349.0,250.0,350.0,122150.0,4886.00,117264.00,90740.0,250.0
3,3,2013-01-01 00:09:00,Midmarket,United States of America,Paseo,Medium,2931.0,10.0,15.0,43965.0,3077.55,40887.45,29310.0,10.0
4,4,2013-01-01 00:09:00,Small Business,Canada,Montana,Medium,1283.0,5.0,300.0,384900.0,30792.00,354108.00,320750.0,5.0

In [18]:
df.drop([df.columns[0]],axis=1,inplace=True)

In [22]:
df.dtypes

date                   object
segment                object
country                object
product                object
discountband           object
unitssold             float64
manufacturingprice    float64
saleprice             float64
grosssales            float64
discounts             float64
sales                 float64
cogs                  float64
profit                float64
dtype: object

In [23]:
#numpy
t=np.array([3,2,4,3])

In [51]:
r=[3,42,3,2,5]
r[:-3:-1]

[5, 2]

In [53]:
t=np.array([[3,4,3,4,32],[3,6,5,3,9]])

In [60]:
t[0,4]=45

In [64]:
t[:,4:]=[[4],[3]]

In [65]:
t

array([[3, 4, 3, 4, 4],
       [3, 6, 5, 3, 3]])

In [67]:
t.dtype# its an attribute

dtype('int32')

In [74]:
t=np.array([[3,4,5,3],[4,5,6,6],[4,2,1,2]])

In [75]:
t

array([[3, 4, 5, 3],
       [4, 5, 6, 6],
       [4, 2, 1, 2]])

In [78]:
t[1:,1:3]=[[3,4],[23,6]]

In [79]:
t

array([[ 3,  4,  5,  3],
       [ 4,  3,  4,  6],
       [ 4, 23,  6,  2]])

In [85]:
t=np.ones((3,4,3),dtype="int32")

In [87]:
t=np.full((2,3),55)

In [89]:
t=np.full_like(t,88,dtype="int32")

In [90]:
t

array([[88, 88, 88],
       [88, 88, 88]])

In [91]:
t=np.random.randint(4,6,size=(3,4))

In [92]:
t

array([[5, 5, 5, 4],
       [4, 4, 4, 4],
       [5, 4, 5, 5]])

In [97]:
t=np.random.randint(2,9,size=(3,2,3))
t

array([[[5, 3, 2],
        [4, 3, 2]],

       [[8, 8, 8],
        [6, 6, 6]],

       [[2, 5, 3],
        [3, 6, 3]]])

In [98]:
t[1,1,1:]=[66,88]

In [99]:
t

array([[[ 5,  3,  2],
        [ 4,  3,  2]],

       [[ 8,  8,  8],
        [ 6, 66, 88]],

       [[ 2,  5,  3],
        [ 3,  6,  3]]])

In [101]:
np.random.randint(3,size=(2,3))

array([[0, 2, 2],
       [1, 1, 0]])

In [106]:
  np.random.rand()

0.8231504362075667

In [110]:
np.log([1,4,3,3,10])

array([0.        , 1.38629436, 1.09861229, 1.09861229, 2.30258509])

In [116]:
np.void(4)

void(b'\x00\x00\x00\x00')

In [119]:
t=np.array([3,4,2])

r=np.array([4,5,3])

In [120]:
t
r

[3, 42, 3, 2, 5]

In [121]:
r

[3, 42, 3, 2, 5]

In [122]:
r=np.array([5,3,2])

In [123]:
t
r

array([5, 3, 2])

In [124]:
np.hstack((t,r))

array([3, 4, 2, 5, 3, 2])

In [129]:
e=np.vstack((t,r))

In [142]:
[np.all(e%2==0,axis=1)]

[array([False, False])]

In [137]:
e

array([[3, 4, 2],
       [5, 3, 2]])

In [146]:
np.linspace(2,3,5,retstep=True,endpoint=False)

(array([2. , 2.2, 2.4, 2.6, 2.8]), 0.2)

In [148]:
np.logspace(1,10,10)

array([1.e+01, 1.e+02, 1.e+03, 1.e+04, 1.e+05, 1.e+06, 1.e+07, 1.e+08,
       1.e+09, 1.e+10])

In [149]:
r

array([5, 3, 2])

In [151]:
np.subtract(r,t)

array([ 2, -1,  0])

In [152]:
np.add(r,t)

array([8, 7, 4])

In [153]:
np.sin(r)

array([-0.95892427,  0.14112001,  0.90929743])

In [154]:
np.cos(r)

array([ 0.28366219, -0.9899925 , -0.41614684])

In [155]:
np.tanh(r)

array([0.9999092 , 0.99505475, 0.96402758])

In [156]:
np.tan(r)

array([-3.38051501, -0.14254654, -2.18503986])

In [157]:
np.sqrt(r)

array([2.23606798, 1.73205081, 1.41421356])

In [158]:
np.square(r)

array([25,  9,  4], dtype=int32)

In [160]:
np.std(r)

1.247219128924647

In [161]:
np.mean(r)

3.3333333333333335

In [162]:
np.median(r)

3.0

In [163]:
mp.mode(r)

NameError: name 'mp' is not defined

In [164]:
np.mode(r)

AttributeError: module 'numpy' has no attribute 'mode'

In [165]:
np.mod(r)

ValueError: invalid number of arguments

In [166]:
r

array([5, 3, 2])

In [167]:
np.corrcoef(r)

1.0

In [168]:
r

array([5, 3, 2])