In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("E:\\data\\giri.csv")

In [3]:
df.head()

,Unnamed: 0,date,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit
0,0,2013-01-01 00:09:00,Small Business,France,Montana,Medium,322.0,5.0,300.0,96600.0,8694.00,87906.00,80500.0,5.0
1,1,2013-01-01 00:09:00,Government,Canada,Velo,Low,2646.0,120.0,20.0,52920.0,2116.80,50803.20,26460.0,120.0
2,2,2013-01-01 00:09:00,Government,United States of America,VTT,Low,349.0,250.0,350.0,122150.0,4886.00,117264.00,90740.0,250.0
3,3,2013-01-01 00:09:00,Midmarket,United States of America,Paseo,Medium,2931.0,10.0,15.0,43965.0,3077.55,40887.45,29310.0,10.0
4,4,2013-01-01 00:09:00,Small Business,Canada,Montana,Medium,1283.0,5.0,300.0,384900.0,30792.00,354108.00,320750.0,5.0

In [8]:
df.drop("unnamed: 0")

KeyError: "['unnamed: 0'] not found in axis"