In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("E:\\data\\update_task.csv")

In [26]:
df.head()

,host_name,host_since,host_location,host_response_time,host_response_rate,host_verifications,host_identity_verified,neighbourhood,neighbourhood_group,zipcode,...,extra_people,minimum_nights,maximum_nights,number_of_reviews,number_of_reviews_ltm,review_scores_rating,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
0,Francesca,20-10-2010,singapore,within a few hours,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",f,Woodlands,North Region,730702,...,14,180,360,1,0,94.0,f,flexible,2,0.01
1,Sujatha,08-09-2010,"Singapore, Singapore",NaN,NaN,"['email', 'phone', 'facebook', 'reviews', 'off...",f,Bukit Timah,Central Region,589664,...,20,90,730,18,0,91.0,f,moderate,1,0.27
2,Francesca,20-10-2010,singapore,within a few hours,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",f,Woodlands,North Region,NaN,...,14,6,14,20,0,98.0,f,flexible,2,0.20
3,Belinda,29-01-2011,Singapore,within a few hours,1.0,"['email', 'phone', 'reviews', 'manual_offline'...",t,Tampines,East Region,488405,...,28,1,1125,15,4,84.0,t,moderate,9,0.16
4,Belinda,29-01-2011,Singapore,within a few hours,1.0,"['email', 'phone', 'reviews', 'manual_offline'...",t,Tampines,East Region,488405,...,21,1,1125,22,2,81.0,t,moderate,9,0.22

In [38]:
#df.drop("host_name",axis="columns",inplace=True)
df.columns

Index(['host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_verifications', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_group', 'zipcode', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'amenities', 'price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'number_of_reviews_ltm', 'review_scores_rating', 'instant_bookable',
       'cancellation_policy', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [85]:
#sns.distplot(df.host_response_rate.replace(np.nan,1))
df.host_response_rate.apply(lambda s:np.square(s)).value_counts().unique

<bound method Series.unique of 1.0000    4935
0.9604     282
0.9409     233
0.8836     205
0.9025     200
0.9216     176
0.9801     159
0.8649     143
0.8100     101
0.6400      96
0.0000      95
0.7056      80
0.5929      72
0.2500      67
0.7744      64
0.4761      63
0.0400      61
0.8464      60
0.7921      52
0.3969      48
0.6561      47
0.1681      45
0.3249      33
0.4900      33
0.5329      32
0.6889      29
0.7225      23
0.7396      21
0.0324      21
0.6084      20
0.4489      19
0.8281      18
0.3600      16
0.5041      14
0.5625      14
0.1089      14
0.6241      12
0.6724       9
0.1936       9
0.1600       9
0.7569       6
0.0625       5
0.3136       5
0.2916       4
0.4225       4
0.1764       3
0.1849       3
0.0289       3
0.2704       2
0.3844       2
0.4096       2
0.0484       1
0.0100       1
0.5476       1
0.0900       1
0.2116       1
0.0841       1
Name: host_response_rate, dtype: int64>

0       0.000000
1            NaN
2       0.000000
3       0.000000
4       0.000000
          ...
7670   -0.371064
7671   -0.051293
7672         NaN
7673    0.000000
7674   -0.040822
Name: host_response_rate, Length: 7675, dtype: float64